<div class="rowContacts">
    <a href="tel:+59898504391"><button mat-icon-button><mat-icon  matTooltip="(+598) 98504391">smartphone</mat-icon></button></a>
    <a href="mailto:luisalejandrofigueredo@gmail.com"><button mat-icon-button 
            matTooltip="Send email to:luisalejandrofigueredo@gmail.com"
            ><mat-icon>mail</mat-icon></button></a>
    <a href="https://www.linkedin.com/in/luis-figueredo-casadei/"><button mat-icon-button><mat-icon  svgIcon="lin"></mat-icon></button>
    </a>
</div>
<div class="child">
    <div class="column">
        <div>
            <div class="rowTitulo">
                <span style="padding-left: 60px;"><img class="logo" src="yo.jpg"></span>
                <h1 class="mat-h1" style="text-align: center;">Luis Alejandro Figueredo<span
                        style="padding-left: 20px;"></span></h1>
            </div>
            <h2 style="text-align: center;">Systems analyst</h2>
            <h2 style="text-align: center;">Full stack developer</h2>
        </div>
    </div>
    <img style="margin: auto;" src="fotoyo.jpg" alt="" width="50%">
</div>