<mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel style="background-color: rgb(181, 135, 255);" expanded=true>
        <mat-expansion-panel-header style="background-color: rgb(223, 204, 255);">
            <mat-panel-title >
                <img style="padding-right: 50px;" src="government.png" width="50" alt="">
                <h3 i18n>Government</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="first-column" i18n><b>Sector</b> Position</p>
        <p style="padding-left: 50px; background-color:  rgb(181, 135, 255);"><b i18n>Navy (Naval Informatics Staff)</b></p>
        <p class="last-column" i18n="developer">Developer</p>
    </mat-expansion-panel>
    <mat-expansion-panel style="background-color:  rgb(181, 135, 255);" expanded=true>
        <mat-expansion-panel-header style="background-color: rgb(223, 204, 255);">
            <mat-panel-title>
                <img style="padding-right: 50px;" src="newspaper.png" width="50" alt="">
                <h3 i18n>Newspapers</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="first-column" i18n><b>Company</b> Position</p>
        <p class="first-column"><b>El Día</b> </p>
        <p class="last-column" i18n="developer">Developer</p>
        <p class="last-column" >Photoshop</p>
        <p class="last-column" i18n="maintenance">Maintenance</p>
        <p class="first-column" i18n><b>Diario Correo Punta del Este</b></p>
        <p class="last-column" i18n>Graphic designer</p>
        <p class="first-column" ><b>Este Diario</b></p>
        <p class="last-column" i18n>Graphic designer</p>
        <p class="last-column" i18n="developer">Developer</p>
        <p class="last-column" i18n="maintenance" >Maintenance</p>
    </mat-expansion-panel>
    <mat-expansion-panel style="background-color:  rgb(181, 135, 255);" expanded=true>
        <mat-expansion-panel-header style="background-color: rgb(223, 204, 255);">
            <mat-panel-title>
                <img style="padding-right: 50px;" src="shoppings.png" width="50" alt="">
                <h3>Shoppings</h3>
            </mat-panel-title>
        </mat-expansion-panel-header>
        <p class="first-column" i18n><b>Company</b> Position</p>
        <p class="first-column" ><b>Portones</b></p>
        <p class="last-column" i18n="developer">Developer</p>
        <p class="last-column" i18n="maintenance">Maintenance</p>
        <p class="first-column"><b>Tres Cruces</b></p>
        <p class="last-column" i18n="developer">Developer</p>
        <p class="last-column" i18n="maintenance">Maintenance</p>
        <p class="first-column"><b>Montevideo</b> </p>
        <p class="last-column" i18n="maintenance" >Maintenance</p>
    </mat-expansion-panel>
</mat-accordion>