<div class="flex-container">
    <p></p>
    <p>My contribution to GNU and Angular the NG-GD library.</p>
    <p>Click for move screen or objects, mouse wheel zoom</p>
</div>
<div class="flex-container">
    <a target="_blank" style="height: 15px; padding: 25px; border-radius: 30px; background-color: gray; color: aliceblue;"
        href="https://www.npmjs.com/package/ng-gd">
        NPM NG-GD
    </a>
</div>
<div class="flex-container">
    <canvas #canvas width="640" height="480"></canvas>
</div>