<div class="flex-container">
    <p></p>
    <p i18n>My contribution to GNU and Angular the NG-GD library.</p>
    <p i18n>Click for move screen or objects, mouse wheel zoom</p>
</div>
<div class="flex-container">
    <a target="_blank" style="height: 15px; padding: 25px; border-radius: 30px; background-color: gray; color: aliceblue;"
        href="https://www.npmjs.com/package/ng-gd">
        NPM NG-GD
    </a>
</div>
<div class="iframe-container">
    <iframe  src="https://luisalejandrofigueredo.com/DemoGd/" frameborder="0"></iframe>
</div>