
<swiper-container slides-per-view="1" speed="500" loop="true"  css-mode="false" mousewheel-force-to-axis="true" navigation="true" pagination="true" scrollbar="true">
    <swiper-slide class="flex-container">
        <div class="card">
            <img class="responsive" style="padding-right: 1%;" src="Angular.svg" />
            <a class="linkTo" href="https://angular.io/">https://angular.io/</a>
        </div>
    </swiper-slide>
    <swiper-slide class="flex-container">
        <div class="card">
            <img width="100%" style="padding-right: 1%;" src="nodejs.svg" />
            <a class="linkTo" href="https://nodejs.org/en">https://nodejs.org/en</a>
        </div>    
    </swiper-slide>
    <swiper-slide class="flex-container">
        <div class="card">
            <img width="100%" style="padding-right: 1%;padding-bottom: 2%;" src="mysql_official_logo_icon.svg" />
            <a class="linkTo" href="https://www.mysql.com/">https://www.mysql.com/</a>
        </div>
    </swiper-slide>
    <swiper-slide class="flex-container">
        <div class="card">
            <img width="100%" style="padding-right: 1%;" src="postgresql_src_logo_icon_170834.svg" />
            <a class="linkTo" href="https://www.postgresql.org/">https://www.postgresql.org/</a>
        </div>
    </swiper-slide>
    <swiper-slide class="flex-container">
        <div class="card">
            <img width="100%" style="padding-right: 1%;" src="github-icon-seeklogo.com.svg" />
            <a class="linkTo" href="https://github.com/">https://github.com/</a>
        </div>
    </swiper-slide>
    <swiper-slide class="flex-container">
        <div class="card">
            <img width="100%" style="padding-top:20% ;padding-right: 1%;" src="typescript-logo-1024x576.png" />
            <a class="linkTo" href="https://www.typescriptlang.org/">https://www.typescriptlang.org/</a>
        </div>
    </swiper-slide>
    <swiper-slide class="flex-container">
        <div class="card">
            <img width="100%" style="padding-right: 1%;padding-top:20%" src="typeorm.png" />
            <a class="linkTo" href="https://typeorm.io/">https://typeorm.io/</a>
        </div>
    </swiper-slide>
    <swiper-slide class="flex-container">
        <div class="card">
            <img width="100%" style="padding-right: 1%;" src="handlebars_logo.png" />
            <a class="linkTo" href="https://handlebarsjs.com/">https://handlebarsjs.com/</a>
        </div>
    </swiper-slide>
    <swiper-slide class="flex-container">
        <div class="card">
            <h1 style="display: block;text-align: center;font-family: 'Helvetica Neue', sans-serif;">Express</h1>
            <a class="linkTo" href="https://expressjs.com/">https://expressjs.com/</a>
        </div>
    </swiper-slide>
</swiper-container>